.box{
    height: 700px;
}
li{
    list-style-type: none;
    width: 120px;
    height: 150px;
    background-color: #394867;
    border-radius: 28px;
    text-align: center;
    color: white;
    margin-left: 60px;
    margin-right: 20px;
    font-weight: bold;
}
li>a{
    text-decoration: none;
}

.book.hovered {
    background-image: none;
    background-color: #f1f1f1;
  }
ul{
    display: flex;
}
.book{
    
    background-size: cover;
    box-sizing: border-box;
    line-height: 25vh;
    transform: scale(1);
   
}
.book > p{
    opacity: 0;
    
}
.book:hover{
    background-image: none;
    background-color: #394867;
    transition: transform 0.4s linear;
    transform: scale(1.1);

}

h5{
    padding-left: 15px;
}
.book:hover p{
    opacity: 1;
    padding-top: 15px;
    padding-left: 3px;
    padding-right: 3px;

}
p{
    font-size: small;
}

.new{
    margin-top: 90px;
}