.box{
 
    height: 700px;
}
li{
    list-style-type: none;
    width: 120px;
    height: 150px;
    background-color: #394867;
    border-radius: 28px;
    text-align: center;
    /* color: #9BA4B5; */
    color: black;
    margin-left: 60px;
    margin-right: 20px;
    font-weight: bold;
}
li>a{
    text-decoration: none;
}
/* .thin{
    box-sizing: border-box;
    width: 40px;
    height: 150px;
    border-radius: 10px;
    margin-left: 2px;
    transform: rotate(-11deg);
    writing-mode: vertical-rl;
    padding-right: 12px;
}
.thin:hover{
    transform: rotate(0deg);
    width: 40px;
    height: 150px;
    transition: all 0.35s;
} */
.book.hovered {
    background-image: none;
    background-color: #f1f1f1;
  }
ul{
    display: flex;
}
.book{
    
    background-size: cover;
    box-sizing: border-box;
    line-height: 25vh;
    transform: scale(1);
   
}
.book > p{
    opacity: 0;
    
}
.book:hover{

    transition: transform 0.4s linear;
    transform: scale(1.1);

}


.book:hover p{
    opacity: 1;
    padding-top: 35px;

}

.new{
    margin-top: 90px;
}